{% extends "header.html.jinja2" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    {% block javascript %}
        <script src="{{url_for('static', filename='js/home.js')}}"></script>
    {% endblock %}
{% endblock %}

{% block content %}
    <a href="/shutdown"><button>Shutdown</button></a><br>
    <label>Download Path:</label>
    <input class="download_path" value="{{ download_path }}">
{% endblock %}