{% extends "header.html.jinja2" %}


{% block title %}Downloading{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/downloading.css')}}">

    {% block javascript %}
        <script src="{{url_for('static', filename='socketio.js')}}"></script>
        <script src="{{url_for('static', filename='downloading.js')}}"></script>
    {% endblock %}
{% endblock %}

{% block content %}
    <button class="searchVideos">Search Videos</button>

    <div id="Downloading">
        {% for video in videos %}

            <div class="panel panel-default downloading_video" video_id="{{video['id']}}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{video['tittle']}}</h3>
                </div>
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            0%
                        </div>
                    </div>
                    <div class="speed">Waiting</div>
                    <div class="deleteVideo"><i class="material-icons">not_interested</i></div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
