{% extends "header.html.jinja2" %}


{% block title %}Downloading{% endblock %}
{% block head %}
{{ super() }}
    {% block javascript %}
        <script src="{{url_for('static', filename='socketio.js')}}"></script>
        <script src="{{url_for('static', filename='downloading.js')}}"></script>

    {% endblock %}
{% endblock %}

{% block content %}
    <div id="Downloading">
        {% for video in videos %}
            <div class="downloading_video" video_id="{{video['id']}}">
                <div>{{video['tittle']}}</div>
                <div class="speed">Waiting</div>
                <progress max="100" class="progress" value="0" hidden></progress>
                <div class="deleteVideo">-</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
