<div class="downloading_video" video_id="">
    <div><%=video['tittle']%></div>

    <%if(video['downloadData']){%>
        <div><%=video['downloadData']['_total_bytes_str']%></div>
        <div><%=video['downloadData']['_speed_str']%></div>
        <progress max="100" class="progress" value="'+video['downloadData']['_percent_str']+'"></progress>
    <%}%>

</div>